<html>
<head>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript">
		$(function() {
			const SRCPTRN = "%A?%N=%V"	// 상수값 (A:servlet Addr / N:name / V: value )
			//console.log($("#iamge"));
			const action = $('form')[0].action;				
			$("#image").on('change', function(event) {	// 익명함수(callBack 함수)
				$('#imageArea').empty();
				/* console.log(this.value);
				console.log($(this).val());*/
				// this == event.target
				//this.form.submit();
				// img 태그 생성
				console.log($('form')[0])
				var name = this.name;		
				var values = $(this).val();
				var imgs = [];
				$(values).each(function(idx,value) {
					var src = SRCPTRN.replace("%A", action)
									 .replace("%N", name)
									 .replace("%V", value)
					var img = $('<img>').attr("src", src);
					imgs.push(img);
				})
				// imageArea 에 img 태그를 innerHTML 로 삽입
				$('#imageArea').html(imgs);
			});
		})
	</script>
</head>
<body>
<h4>%today%</h4>
<form action='image.do'>
<select name='image' id="image" multiple>
	%options%
</select>
<input type="submit" value="전송" style="background-color: red;"/>

</form>
<div id="imageArea"></div>
<script type="text/javascript">
	/* var select = document.querySelector("#image")
	select.onchange = function(event) {
		// 해당 객체의 event.target과 form 기능의 submit 버튼을 실행
		event.target.form.submit();
	} */
	
</script>
</body>
</html>