<html>
	<body>
		<h3>Text file viewer</h3> 
		<select id='textFile'>
				%options%
		</select>
		
		<!-- src 속성의 주소값 : ex) textView.do?textFile=filename(path?) -->
		<br><br>
		<iframe id ="viewer" src="textView.do?textFile=SavedExternalPluginList.txt"></iframe>

	</body>
	<script type="text/javascript">
	var select = document.querySelector("#textFile");	
	select.onchange = function(event) {
	/*  var a = select.value;
		console.log(a); */
		var iframe = document.querySelector("#viewer");
		iframe.setAttribute("src", "textView.do?textFile="+select.value)
		
	}	
	
	</script>
	
</html>

