<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-lazy-init="false"
	default-init-method="init"
	default-destroy-method="destroy"
	>

	<!-- 스키마 정보: beans, c, p -->
<!-- 	<bean depends-on="daoOracle" id="daoMySql" class="kr.or.ddit.example.dao.ExampleDAO_MySql"></bean> -->
<!-- 	<bean id="daoOracle" class="kr.or.ddit.example.dao.ExampleDAO_Oracle"></bean> -->
<!-- 	<bean id="service1" class="kr.or.ddit.example.service.ExampleServiceImpl"  -->
<!-- 	c:dao-ref="daoMySql" -->
<!-- 	p:dao-ref="daoOracle" -->
<!-- 	> -->
	
	<!-- 1. 생성자 -->
	<!-- 	<constructor-arg name="dao" ref="daoMySql"></constructor-arg> -->
	
	<!-- 2. setter -->
	<!-- setter는 기본 생성자가 있다는 전제하에 사용 가능하다. -->
	<!-- property의 name은 전역변수 명이 아닌 setter명이다 -->
	<!-- 	<property name="dao"  ref="daoMySql"></property> -->
	
<!-- 	</bean> -->
	
<!-- 	prototype: 객체의 생성 시점이 연기되고 주입 때마다 생성된다. -->
<!-- 	<bean id="service2" class="kr.or.ddit.example.service.ExampleServiceImpl" scope="prototype"></bean> -->

</beans>
